body {
    background: #ddd;
}
header {
    padding: 20px;
}
header h2.title a {
    text-decoration: none;
    color: #afafaf;
}


div.content {
    background: rgba(193,193,193);
}
/**/
/* Input FORM */
input {
    text-align: center;
    background: rgba(0,0,0, 0);
    border: none;
    border-bottom: 3px solid #45D4FF;
}
input:focus {
    outline: none
}

footer {
    
    padding: 20px;
}
